<% if (loggedIn) { %>
    <div class="data-form">
        <form class="form-signin" action="<%=`/products/${product._id}/update?_method=PUT`%>" method="POST">
          <h2 class="form-signin-heading">Create a new product:</h2>
          
          <label for="inputName">Name <b class="d-inline text-danger">*</b> </label>
          <input type="text" name="name" id="inputName" class="form-control" placeholder="Name..." value="<%= product.name %>" autofocus required>
    
          <label for="inputDescription">Description <b class="d-inline text-danger">*</b> </label>
          <input type="text" name="description" id="inputDescription" class="form-control" placeholder="Description..." value="<%= product.description %>" required>

          <label class="inputFormLabel" for="inputName">Category <b class="d-inline text-danger">*</b></label>
          <select name="category" id="category" class="form-control" required>
            <option value="" selected disabled hidden>Choose here</option>
            <option value="furniture">Furniture</option>
            <option value="electronics">Electronics</option>
            <option value="clothes">Clothes</option>
            <option value="freeTime">Free time</option>
            <option value="sports">Sports</option>
            <option value="others">Others</option>
          </select>
    
          <label for="inputImage">Image string </label>
          <input type="text" name="image" id="inputImage" class="form-control" placeholder="Link to image..." value="<%= product.image %>">
    
          <label for="inputOwner">Owner <b class="d-inline text-danger">*</b></label>
          <input type="text" value="<%=product.ownerEmail%>" disabled="true" name="owner" id="inputOwner" class="form-control" placeholder="Owner" required>
    
          <b class="d-inline text-danger">* Fields are required</b>
          <br />
          <br />
          <button class="btn btn-lg btn-danger btn-block" type="submit">Update</button>
        </form>
      </div>
    
    <%} else {%>
      <div class="text-center">
        <h2> Please login or register first </h2>
    
        <a
            class="btn btn-danger w-10"
            class="button"
            href="/users/login">
            Login
        </a>
    
        <a
            class="btn btn-danger w-10"
            class="button"
            href="/users/new">
            Register
        </a>
      </div>
      <br />
      <br />
    
    <% } %>