<h2 style="margin-left: 5vw;">All products</h2>
<br/>
<table class="table" style="width: 90vw; margin-left: 5vw;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <% product.forEach(product => { %>
    <tr>
      <td style="vertical-align: middle;">
        <a href="<%= `/products/${product._id}` %>">
          <%= product.name %>
        </a>
      </td>
      <td style="vertical-align: middle;">
        <%= product.description %>
      </td>
      <td style="vertical-align: middle;">
        <img class="tableImages" src="<%= product.image%>" alt="">
      </td>
      <td style="vertical-align: middle;">
        <%= product.ownerEmail%>
      </td>
      <td style="vertical-align: middle;">
        <a class= "btn btn-info w-10" href="<%=`/products/${product._id}/edit`%>">
          Edit
        </a>
      </td>
      <td style="vertical-align: middle;">
        <a class= "btn btn-danger w-10" href="<%=`/products/${product._id}/delete?_method=DELETE`%>" onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>