<h1 class="center" style="margin-left: 5vw;">Product Data for <%= product.name %></h1>
<br />
<table class="table" style="width: 90vw; margin-left: 5vw; box-shadow: 0 0 10px #00000070;">
  <tr>
    <th>Name</th>
    <td>
      <%= product.name %>
    </td>
  </tr>
  <tr>
    <th>Description</th>
    <td>
      <%= product.description%>
    </td>
  </tr>
  <tr>
    <th>Image</th>
    <td>
      <img class="tableImages" src="<%=product.image%>" alt="">
    </td>
  </tr>
  <tr>
    <th>Owner</th>
    <td>
      <%= product.ownerEmail%>
    </td>
  </tr>
</table>

<div style="margin-left: 5vw;">
  <a
    class="btn btn-info w-10"
    class="button"
    href="<%=`/products/${product._id}/edit`%>">
    Edit
  </a>
  <a
    class="btn btn-danger w-10"
    class="button"
    href="<%= `/products/${product._id}/delete?_method=DELETE` %>"
    onclick="return confirm('Are you sure you want to delete this record?')">
    Delete
  </a>
</div>